@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev,
.slick-next {
  font-size: 15px !important;
  top: 37%;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.slick-slide > div {
  display: grid;
  place-items: center;
  width: 70%;
  margin: auto;
  padding: 0px;
  margin-top: 45px;
}

@font-face {
  font-family: "dms sans";
  src: url("assets/fonts/dms_sans/DMSans-BoldItalic.ttf");
  font-weight: boldItalic;
  font-style: normal;
}

@font-face {
  font-family: "dms sans";
  src: url("assets/fonts/dms_sans/DMSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "dms sans";
  src: url("assets/fonts/dms_sans/DMSans-Italic.ttf");
  font-weight: italic;
  font-style: normal;
}
@font-face {
  font-family: "dms sans";
  src: url("assets/fonts/dms_sans/DMSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dms sans";
  src: url("assets/fonts/dms_sans/DMSans-MediumItalic.ttf");
  font-weight: mediumitalic;
  font-style: normal;
}

@font-face {
  font-family: "dms sans";
  src: url("assets/fonts/dms_sans/DMSans-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}
